streamlit
numpy
cython
pandas
plotly
statsmodels
pmdarima
reportlab
kaleido
joblib
streamlit==1.51.0
pandas==2.3.3
numpy==2.3.4
plotly==6.4.0
statsmodels==0.14.5
scikit-learn==1.7.2
matplotlib==3.9.2
seaborn==0.13.2
